<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>AE</key>
    <integer>-60</integer>
    <key>V</key>
    <integer>-80</integer>
    <key>X</key>
    <integer>-40</integer>
    <key>question</key>
    <integer>-30</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>AE</key>
    <integer>-160</integer>
    <key>S</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-60</integer>
    <key>ae</key>
    <integer>-110</integer>
    <key>x</key>
    <integer>-10</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>Oslash</key>
    <integer>-80</integer>
    <key>ae</key>
    <integer>-40</integer>
    <key>ampersand</key>
    <integer>-60</integer>
    <key>at</key>
    <integer>-40</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>f</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>registered</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-10</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>V</key>
    <integer>-200</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>AE</key>
    <integer>-210</integer>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>ae</key>
    <integer>-60</integer>
    <key>ampersand</key>
    <integer>-30</integer>
    <key>d</key>
    <integer>-30</integer>
    <key>oslash</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>slash</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>30</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>V</key>
    <integer>-90</integer>
    <key>question</key>
    <integer>-30</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>d</key>
    <integer>-10</integer>
    <key>parenright</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>question</key>
    <integer>-30</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>AE</key>
    <integer>-220</integer>
    <key>Oslash</key>
    <integer>-60</integer>
    <key>X</key>
    <integer>-60</integer>
    <key>ae</key>
    <integer>-160</integer>
    <key>ampersand</key>
    <integer>-30</integer>
    <key>at</key>
    <integer>-60</integer>
    <key>d</key>
    <integer>-160</integer>
    <key>f</key>
    <integer>-30</integer>
    <key>four</key>
    <integer>-160</integer>
    <key>oslash</key>
    <integer>-160</integer>
    <key>p</key>
    <integer>-60</integer>
    <key>q</key>
    <integer>-160</integer>
    <key>semicolon</key>
    <integer>-90</integer>
    <key>slash</key>
    <integer>-220</integer>
    <key>v</key>
    <integer>-90</integer>
    <key>x</key>
    <integer>-120</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>Oslash</key>
    <integer>-20</integer>
    <key>ampersand</key>
    <integer>-30</integer>
    <key>at</key>
    <integer>-30</integer>
    <key>d</key>
    <integer>-10</integer>
    <key>f</key>
    <integer>-40</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>question</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-100</integer>
  </dict>
  <key>ampersand</key>
  <dict>
    <key>V</key>
    <integer>-200</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-60</integer>
  </dict>
  <key>at</key>
  <dict>
    <key>V</key>
    <integer>-120</integer>
    <key>X</key>
    <integer>-90</integer>
    <key>seven</key>
    <integer>-90</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>backslash</key>
    <integer>-120</integer>
    <key>parenright</key>
    <integer>-30</integer>
    <key>question</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-30</integer>
  </dict>
  <key>backslash</key>
  <dict>
    <key>V</key>
    <integer>-120</integer>
    <key>seven</key>
    <integer>-90</integer>
    <key>v</key>
    <integer>-30</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>W</key>
    <integer>-60</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>three</key>
    <integer>-30</integer>
    <key>two</key>
    <integer>-60</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>one</key>
    <integer>-60</integer>
    <key>two</key>
    <integer>-30</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>five</key>
    <integer>60</integer>
    <key>nine</key>
    <integer>30</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>ae</key>
    <integer>-30</integer>
    <key>backslash</key>
    <integer>-60</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>f</key>
    <integer>-20</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>question</key>
    <integer>-30</integer>
    <key>x</key>
    <integer>-20</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>backslash</key>
    <integer>-140</integer>
    <key>f</key>
    <integer>-30</integer>
    <key>question</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-30</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>eight</key>
    <integer>30</integer>
    <key>four</key>
    <integer>-30</integer>
    <key>slash</key>
    <integer>-30</integer>
    <key>three</key>
    <integer>-30</integer>
    <key>two</key>
    <integer>-60</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>four</key>
    <integer>-30</integer>
    <key>nine</key>
    <integer>30</integer>
    <key>seven</key>
    <integer>-10</integer>
    <key>zero</key>
    <integer>30</integer>
  </dict>
  <key>oslash</key>
  <dict>
    <key>x</key>
    <integer>-30</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>backslash</key>
    <integer>-90</integer>
    <key>question</key>
    <integer>-90</integer>
    <key>x</key>
    <integer>-30</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>backslash</key>
    <integer>-60</integer>
    <key>question</key>
    <integer>-60</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>V</key>
    <integer>-130</integer>
  </dict>
  <key>semicolon</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>at</key>
    <integer>-120</integer>
    <key>colon</key>
    <integer>-20</integer>
    <key>five</key>
    <integer>-60</integer>
    <key>four</key>
    <integer>-130</integer>
    <key>numbersign</key>
    <integer>-60</integer>
    <key>semicolon</key>
    <integer>-60</integer>
    <key>six</key>
    <integer>-60</integer>
    <key>slash</key>
    <integer>-60</integer>
    <key>two</key>
    <integer>-30</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>five</key>
    <integer>-30</integer>
    <key>one</key>
    <integer>-30</integer>
    <key>seven</key>
    <integer>-30</integer>
    <key>three</key>
    <integer>-30</integer>
    <key>two</key>
    <integer>-30</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>d</key>
    <integer>-160</integer>
    <key>four</key>
    <integer>-120</integer>
    <key>q</key>
    <integer>-160</integer>
    <key>six</key>
    <integer>-60</integer>
    <key>slash</key>
    <integer>-120</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>one</key>
    <integer>-30</integer>
    <key>seven</key>
    <integer>-30</integer>
    <key>three</key>
    <integer>-30</integer>
    <key>two</key>
    <integer>-30</integer>
    <key>zero</key>
    <integer>30</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>four</key>
    <integer>-60</integer>
    <key>seven</key>
    <integer>-60</integer>
    <key>three</key>
    <integer>-90</integer>
    <key>two</key>
    <integer>-90</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>ae</key>
    <integer>-30</integer>
    <key>ampersand</key>
    <integer>-30</integer>
    <key>d</key>
    <integer>-30</integer>
    <key>f</key>
    <integer>30</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>question</key>
    <integer>-70</integer>
    <key>slash</key>
    <integer>-30</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>ampersand</key>
    <integer>-60</integer>
    <key>backslash</key>
    <integer>-120</integer>
    <key>d</key>
    <integer>-30</integer>
    <key>f</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>question</key>
    <integer>-120</integer>
    <key>x</key>
    <integer>-30</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>seven</key>
    <integer>-60</integer>
    <key>three</key>
    <integer>-70</integer>
    <key>two</key>
    <integer>-60</integer>
  </dict>
</dict>
</plist>
